/** Base Styles */
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */
  --c-brand: hsl(203.1, 95.8%, 36.4%);
  --c-brand-highlight: hsla(203.1, 85.8%, 61.4%, 0.35);
  --c-brand-active: #0e8fc9;
  --c-brand-dark: #0e8fc9;
  --c-brand-light: #25b3f5;
  --c-bg: #fff;
  --c-bg-semi: rgba(255,255,255,0.8);
  --c-bga: #f3f5f7;
  --c-scrollbar: theme('colors.gray.200');
  --c-white: #fff;
  --c-black: #000;
  --c-divider-light: rgba(60, 60, 67, .12);
  --c-divider-dark: rgba(84, 84, 88, .48);
  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;
  --c-disabled-bg: #e5e5e5;
  --c-disabled-fg: #666;
  --c-code: hsl(221deg 39% 11%);
  --c-code-bg: hsl(0, 0%, 90%);
  --c-code-inline-bg: rgba(27, 31, 35, .04);
  --c-code-highlight: rgba(0, 0, 0, .04);

  --c-gray-100: hsl(216, 14.3%, 95.9%);
  --c-gray-200: hsl(216, 13%, 91%);
  --c-gray-300: hsl(216, 12.2%, 83.9%);
  --c-gray-400: hsl(216, 10.6%, 64.9%);
  --c-gray-500: hsl(216, 8.9%, 46.1%);
  --c-gray-600: hsl(216, 13.8%, 34.1%);
  --c-gray-700: hsl(216, 19.1%, 26.7%);
  --c-gray-800: hsl(216, 27.9%, 16.9%);
  --c-gray-900: hsl(216, 39.3%, 11%);


  /**
   * Typography
   * --------------------------------------------------------------------- */
  
  --font-family-base: "Barlow", "Inter", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: "Fira Code", source-code-pro, menlo, monaco, consolas, "Courier New", monospace;
  --font-family-display: "Rubik", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  
  /**
   * Z Indexes
   *
   * Algolia SearchBox has a z-index of 200, so make sure not to go above
   * that value.
   * --------------------------------------------------------------------- */
  
  --z-index-navbar: 10;
  --z-index-sidebar: 6;
  
  --shadow-rgb: 0, 0, 0;

  /**
   * Shadows
   * --------------------------------------------------------------------- */

  --shadow-header: 0 6px 10px rgba(var(--shadow-rgb), .06), 0 3px 6px rgba(var(--shadow-rgb), .08);
  --shadow-totop: 0 0 5px 2px rgba(var(--shadow-rgb), .15), 0 0 8px 1px rgba(var(--shadow-rgb), .1);
  /**
   * Sizes
   * --------------------------------------------------------------------- */
  
  --header-height: 2.5rem;
  --sidebar-width: 16rem;
  --sections-sidebar-width: 16rem;
  --nprogress-color: red;
  --nprogress-z-index: 999;
  }
  
html.dark {
  --c-brand: hsl(203.1, 65.8%, 60.4%);
  --c-brand-highlight: hsla(203, 66%, 45%, 0.6);

  --c-bg: #171717;
  --c-bg-semi: rgba(17,17,17,0.8);
  --c-bga: #222;
  --c-scrollbar: #333;
  --c-text: #f5f7fa;
  --c-text-light: #fff;
  --c-text-lighter: theme('colors.gray.300');

  --c-code-bg: hsl(6, 5%, 19%);
  --c-code-inline-bg: rgba(255, 255, 255, .04);
  --c-code-highlight: rgba(0, 0, 0, .66);
  --c-disabled-bg: #333;
  --c-disabled-fg: #aaa;

  --c-gray-100: hsl(216, 14.3%, 4.1%);
  --c-gray-200: hsl(216, 13%, 9%);
  --c-gray-300: hsl(216, 12.2%, 16.1%);
  --c-gray-400: hsl(216, 10.6%, 45.1%);
  --c-gray-500: hsl(216, 8.9%, 54.9%);
  --c-gray-600: hsl(216, 13.8%, 66.9%);
  --c-gray-700: hsl(216, 19.1%, 74.3%);
  --c-gray-800: hsl(216, 27.9%, 84.1%);
  --c-gray-900: hsl(216, 39.3%, 89%);
  --c-code: hsl(221deg 39% 89%)

  --shadow-rgb: 255, 255, 255;
  
  }
  
  /** Fallback Styles */
  :root {
  --c-divider: var(--c-divider-light);
  --c-text: var(--c-text-light-1);
  --c-text-light: var(--c-text-light-2);
  --c-text-lighter: var(--c-text-light-3);
  --c-bg: var(--c-white);
  --code-line-height: 24px;
  --code-font-family: var(--font-family-mono);
  --code-font-size: 14px;
  }
  